body{
	margin: 0;
	}
canvas{
	display: block;
	}
html { 
  background: url(football2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
